.form_booking_data {
  background-color: $secondary-color;
  border-radius: 3.5rem;
  width: 100%;
  max-width: 53.7rem;
  padding: 2rem;
  #my-form-status{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 1.5rem;
    border: .2 solid ;
  }
  &__wrap {
    position: relative;
    label {
      font-family: $geometria-regular;
      position: absolute;
      top: 50%;
      left: 1.3rem;
      transform: translateY(-50%);
      width: 100%;
      max-width: 0.85rem;
      height: 1rem;

      img {
        object-fit: contain;
      }

      @include _768 {
        left: 2rem;
        max-width: 1.4rem;
        height: 1.6rem;
      }
    }
    input {
      width: 100%;
      border-radius: 4.5rem;
      border: 0.1rem solid rgba(0, 0, 0, 0.2);
      background-color: $secondary-color;
      padding: 0.8rem 1rem 0.7rem 3.4rem;
      margin: 0 0 1rem;
      font-size: 1rem;
      line-height: 153.846%;
      color: $main-color;
      font-family: $geometria-regular;
      cursor: pointer;
      &:last-child {
        margin: 0 0 1.5rem;
      }
      &:focus {
        cursor: auto;
        border: 0.1rem solid black;
        box-shadow: none;
        &::placeholder {
          opacity: 0.8;
        }
      }
      &::placeholder {
        opacity: 0.4;
      }
      @include _768 {
        font-size: 1.3rem;
        padding: 1rem 1rem 1rem 5.4rem;
      }
      @include _1024 {
        padding: 1.5rem 1.5rem 1.5rem 5.4rem;
      }
    }
  }
  &__title {
    display: block;
    text-align: center;
    margin: 0 0 1.6rem;
    font-size: 2rem;
    font-family: $righteous-regular;
    text-transform: uppercase;
    line-height: 4.3rem;
    @include _480 {
      font-size: 3.5rem;
      margin: 0 0 2.1rem;
    }
  }
  .form-check {
    margin: 0 0 2rem;
    padding: 0;
    display: flex;
    align-items: center;

    .form-check-input {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 0.7rem 0 0;
      width: 1.5rem;
      height: 1.5rem;
      float: none;
      border-radius: 0.3rem;
      cursor: pointer;
      &:focus {
        box-shadow: none;
        border-color: $violet;
      }
      &:checked {
        background-color: $violet;
        border-color: $violet;
      }
      &:checked[type="checkbox"] {
        --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m4 11 4 4 9-9'/%3e%3c/svg%3e");
        @include _768 {
          --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
        }
      }

      @include _768 {
        width: 2.4rem;
        height: 2.4rem;
        margin: 0 1rem 0 0;
        border-radius: 0.5rem;
      }
    }
    label {
      color: rgb(100, 100, 102);
      font-family: $geometria-regular;
      font-size: 0.7rem;
      line-height: 1.4rem;
      cursor: pointer;
      @include _768 {
        font-size: 1.1rem;
        line-height: 1.4rem;
      }
      span {
        color: $violet;
      }
    }
  }
  button {
    width: 100%;
    font-size: 1.3rem;
    padding: 0.8rem 0 0.7rem;
    opacity: 1;
    transition: .3s opacity;
    @include _768 {
      padding: 1.3rem 0;
      font-size: 2rem;
    }

    &:disabled{
      opacity: .4;
      transition: .3s opacity;
    }
  }
}

.hero__form.form_industry{
  width: 100%;
  max-height: 0rem;
  visibility: hidden;
}
.hero__form.form_industry.active{
  max-height: 100%;
  visibility: visible;
}
.form_industry {
  max-width: 53.7rem;
  &__wrap {
    position: relative;
    label {
      font-family: $geometria-regular;
      position: absolute;
      top: 50%;
      left: 1.3rem;
      transform: translateY(-50%);
      width: 100%;
      max-width: 0.85rem;
      height: 1rem;

      img {
        object-fit: contain;
      }

      @include _768 {
        left: 2rem;
        max-width: 1.4rem;
        height: 1.6rem;
      }
    }
    textarea,
    input {
      width: 100%;
      border-radius: 4.5rem;
      border: 0.1rem solid rgba(0, 0, 0, 0.2);
      background-color: $secondary-color;
      padding: 1rem 1rem 1rem 2rem;
      margin: 0 0 1rem;
      font-size: 1rem;
      line-height: 153.846%;
      color: $main-color;
      font-family: $geometria-regular;
      cursor: pointer;
      &:last-child {
        margin: 0 0 1.5rem;
      }
      &:focus {
        cursor: auto;
        border: 0.1rem solid black;
        box-shadow: none;
        &::placeholder {
          opacity: 0.8;
        }
      }
      &::placeholder {
        opacity: 0.4;
      }
      @include _768 {
        font-size: 1.3rem;
        padding: 1rem 1rem 1rem 2rem;
      }
      @include _1024 {
        padding: 1.5rem 1.5rem 1.5rem 3rem;
      }
    }
    textarea{
      border-radius: 1.5rem;
      height: 25rem;
      resize: none;
      padding: 2rem;
      @include _1024{
        border-radius: 2.5rem;
      }
    }
  }
  &__title {
    display: block;
    text-align: center;
    margin: 0 0 1.6rem;
    font-size: 2rem;
    font-family: $righteous-regular;
    text-transform: uppercase;
    line-height: 4.3rem;
    @include _480 {
      font-size: 3.5rem;
      margin: 0 0 2.1rem;
    }
  }
  .form-check {
    margin: 0 0 2rem;
    padding: 0;
    display: flex;
    align-items: center;

    .form-check-input {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 0.7rem 0 0;
      width: 1.5rem;
      height: 1.5rem;
      float: none;
      border-radius: 0.3rem;
      cursor: pointer;
      &:focus {
        box-shadow: none;
        border-color: $violet;
      }
      &:checked {
        background-color: $violet;
        border-color: $violet;
      }
      &:checked[type="checkbox"] {
        --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m4 11 4 4 9-9'/%3e%3c/svg%3e");
        @include _768 {
          --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
        }
      }

      @include _768 {
        width: 2.4rem;
        height: 2.4rem;
        margin: 0 1rem 0 0;
        border-radius: 0.5rem;
      }
    }
    label {
      margin: 0;
      color: rgb(100, 100, 102);
      font-family: $geometria-regular;
      font-size: 0.7rem;
      line-height: 1.4rem;
      cursor: pointer;
      @include _768 {
        font-size: 1.1rem;
        line-height: 1.4rem;
      }
      span {
        color: $violet;
      }
    }
  }
  button {
    width: 100%;
    font-size: 1.3rem;
    padding: 0.8rem 0 0.7rem;
    @include hover_background_on_darkviolet;
    @include _768 {
      padding: 1.3rem 0;
      font-size: 2rem;
    }

    &:disabled{
      opacity: .4;
    }
  }
}

.packages {
  &__label_wrap {
    margin: 0 0 1.5rem;
    @include _1440 {
      display: flex;
      align-items: center;
      margin: 0 0 3rem;
    }
  }
  .form {
    &-label {
      color: $secondary-color;
      font-size: 1.5rem;
      line-height: 133.333%;
      margin: 0 0 1rem;
      @include _1024 {
        font-size: 2rem;
        line-height: 150%;
      }
      @include _1440 {
        margin: 0;
        width: 55%;
      }
      span {
        display: block;
        color: rgb(171 171 171);
        font-size: 1rem;
        line-height: 130%;
        margin: 0.5rem 0 1rem;
        @include _1024 {
          font-size: 1.4rem;
          line-height: 214.286%;
          margin: 0;
        }
      }
    }
    &-select,
    &-control {
      position: relative;
      color: $secondary-color;
      padding: 1.3rem 2rem;
      border-radius: 3.5rem;
      background-color: $main-color;
      --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 12'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
      background-position: right 2rem center;
      cursor: pointer;
      @include _1024 {
        font-size: 2rem;
        line-height: 100%;
        padding: 1.8rem 2rem;
      }
      @include _1440 {
        background-position: right 2.4rem center;
      }
      &.none_arrow {
        --bs-form-select-bg-img: none;
      }

      &:focus {
        cursor: auto;
        box-shadow: none;
        border-color: $violet;
      }
    }
  }
  &__commission {
    color: rgb(171, 171, 171);
    display: block;
    margin: 0 0 2.5rem;
    @include _1024 {
      font-size: 2rem;
      line-height: 130%;
      margin: 0 0 3rem;
    }
  }
  &__total {
    color: $secondary-color;
    align-items: center;
    justify-content: flex-end;
    display: flex;
    width: 100%;
    background: rgba(255, 255, 255, 0.15);
    text-align: left;
    border-radius: 5rem;
    @include _1024 {
      font-size: 2rem;
      line-height: 150%;
    }
  }
  &__wrap_buttons {
    max-width: 69rem;
    padding: 0 6rem;
    button {
      display: block;
      margin: 0 auto;
      max-width: 27.7rem;
      padding: 1.3rem;
      font-size: 1.6rem;
      width: 100%;
      transition: background-color .3s, color .3s;
      @include hover_background_on_darkviolet;
      @include _1024 {
        padding: 1.8rem 1.3rem;
      }
      @include _1280{
        font-size: 1.8rem;
      }
      @include _1440{
        font-size: 2rem;
      }

      &.active{
        background-color: $violet;
        color: $secondary-color;
        border: none;
      }
    }
    .swiper-button-next{
      right: -.5rem;
    }
    .swiper-button-prev{
      left: -.5rem;
    }
    .services__button{
      width: 5rem;
      height: 120%;
      background-color: $main-color;
      border-radius: 0;
      img{
        width: 3rem;
        height: 3rem;
      }
    }
  }
}
.total {
  &__sum {
    display: inline-block;
    background-color: $violet;
    width: 100%;
    height: 100%;
    max-width: 10.3rem;
    padding: 1.3rem 0;
    text-align: center;
    border-radius: 5rem;
    margin: 0 0 0 2.5rem;
    @include _1024 {
      max-width: 14.2rem;
    }
  }
}
.modal_form_niche,
.modal_form_packages{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100dvh;
  top: 0;
  background-color: rgba(0, 0, 0, 0.537);
  z-index: 99;
  left: 0;
  &_wrap{
    width: 100%;
    max-width: 60rem;
  }
  form{
    border-radius: 3.5rem;
    background-color: $secondary-color;
    padding: 2rem;
  }
  textarea,
  input{
    font-size: 1.5rem;
    &::placeholder{
      color: rgb(0 0 0 / 40%);
      opacity: 1;
    }
    border: 0.1rem solid rgb(0 0 0 / 40%);
  }
  input{
    padding: 1rem 1rem 1rem 2rem;
    @include _1024{
      padding: 1.5rem 1.5rem 1.5rem 3rem;
    }
  }
  button{
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 1.3rem 0;
    max-width: 100%;
    @include _1024{
      padding: 1.8rem 0;
    }
  }
}

.form_niche,
.form_packages{
  &__close{
    width: 4rem;
    height: 4rem;
    margin-left: auto;
    margin-bottom: 2rem;
    cursor: pointer;
    svg{
      fill: $main-color;
    }
  }

}