.packages {
  &__title {
    text-align: center;
    color: $secondary-color;
    margin: 0 0 3rem;
    @include _1024 {
      margin: 0 0 6.7rem;
    }
    span {
      padding: 0 1rem;
      margin: 0 0 0 0.5rem;
    }
  }
  &__form {
    max-width: 69rem;
    margin: 0 auto 3rem;
  }
  &__request_packages {
    position: relative;
    padding: 21.9rem 3rem 3rem;
    width: 100%;
    max-width: 35rem;
    border-radius: 2.5rem;
    border: 0.1rem solid #fff;
    margin: 3rem auto 0;
    @include _600 {
      max-width: 58rem;
      margin: 3rem auto 0;
      height: fit-content;
    }
    @include _1280 {
      margin: 0 0 0 3rem;
      border-radius: 5rem;
      padding: 17rem 5rem 5rem;
      height: auto;
    }
  }
  &__serm,
  &__copywriting,
  &__complex,
  &__price{
    margin: 0 0 3rem;
    @include _1280{
      margin: 0 0 7rem;
    }
  }
  &__wrap {
    display: flex;
    flex-direction: column;
    @include _1280 {
      flex-direction: row;
      justify-content: center;
    }

    &.active{
      display: block;
    }
  }
}
.request_packages {
  &__title {
    display: block;
    width: fit-content;
    position: relative;
    span {
      margin: 0 0 1rem;
      position: relative;
      display: block;
      font-size: 2rem;
      color: #fff;
      font-family: $righteous-regular;
      line-height: normal;
      text-transform: uppercase;
      max-width: 17.5rem;
      z-index: 2;
      @include _1024 {
        font-size: 2.5rem;
      }
    }
    @include _600 {
      width: auto;
    }
  }

  &__img {
    position: absolute;
    bottom: 50%;
    top: 1rem;
    right: 1rem;
    max-width: 25rem;
    max-height: 23.6rem;
    @include _1024 {
      max-width: 30rem;
      max-height: 30rem;
    }
  }

  &__sum {
    display: block;
    color: #6560e1;
    font-family: $geometria-bold;
    font-size: 3rem;
    line-height: 133.333%;
    text-transform: uppercase;
    margin: 0 0 1.5rem;
    @include _1024 {
      font-size: 4rem;
      line-height: 125%;
      margin: 0 0 3rem;
    }
  }

  &__text {
    color: rgb(171 171 171);
    display: block;
    margin: 0 0 2.5rem;
    max-width: 37.8rem;
    @include _1024 {
      font-size: 2rem;
      line-height: 130%;
      margin: 0 0 5rem;
    }
  }

  &__button {
    white-space: nowrap;
    display: block;
    text-decoration: none;
    padding: 1.3rem;
    max-width: 33.2rem;
    @include hover_background_on_darkviolet;
    @include _1024 {
      padding: 1.8rem 0;
    }
  }
}
.serm,
.copywriting,
.complex,
.price {

  &__title {
    text-align: center;
    color: $secondary-color;
    margin: 0 0 3rem;
    @include _1024{
      margin: 0 0 7rem;
    }
  }
  &__blocks_serm,
  &__blocks_copywriting,
  &__blocks_complex,
  &__blocks_price{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.6rem;
    @include _968{
      flex-wrap: nowrap;
    }
    @include _1280{
      gap: 3rem;
    }
  }
  &__block_serm,
  &__block_copywriting,
  &__block_complex,
  &__block_price {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    max-width: 41.3rem;
    background-color: $secondary-color;
    border-radius: 2rem;
    &:last-child{
      margin: 0;
    }
    @include _968{
      width: 30%;
    }
    @include _1280{
      padding: 4rem 1.9rem 4rem 4rem;
    }
    &.violet{
      color: $secondary-color;
      background-color: $violet;
    }
  }
}
.block_serm,
.block_copywriting,
.block_complex,
.block_price {

  &__name_package {
    text-align: left;
    text-transform: uppercase;
    line-height: normal;
    font-size: 3rem;
  }

  &__sum {
    display: inline-block;
    text-transform: uppercase;
    line-height: normal;
    font-size: 3rem;
    margin: 0 0 3rem;
    font-family: $righteous-regular;
    @include _1024{
      font-size: 4rem;
    }
    @include _1440{
      font-size: 5rem;
    }

    span{
      line-height: 150%;
      margin: 0 0 0 2rem;
      font-family: $geometria-medium;
      text-transform: none;
      font-size: 2rem;
      opacity: 0.4;
      @include _1280{
        margin: 0 0 0 3.6rem;
      }
    }
  }

  &__list{
    flex: 1 1 auto;
    &_title {
      display: inline-block;
      font-size: 1.6rem;
      line-height: 150%;
      text-transform: uppercase;
      margin: 0 0 2rem;
      @include _1280{
        font-size: 2rem;
        margin: 0 0 3rem;
      }
      span{
        margin: 0 1rem 0 0;
        @include _1280{
          margin: 0 2rem 0 0;
        }
      }
    }
    
    li{
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      line-height: 133%;
      &:not(:last-child){
        margin: 0 0 1.5rem;
      }
      @include _1280{
        line-height: 153.333%;
      }
      img{
        width: 1.6rem;
        height: 1.6rem;
        margin: 0 1.5rem 0 0;
        @include _1280{
          width: 2.2rem;
          height: 2.2rem;
        }
      }
    }
  }

  &__btn {
    margin: 2rem 0 0;
    width: 100%;
    padding: 1.3rem 0;
    @include _1024{
      padding: 1.8rem 0;
      margin: 3rem 0 0;
    }
  }
}
.serm__block_serm.violet .block_serm__btn,
.complex__block_complex.violet .block_complex__btn,
.copywriting__block_copywriting.violet .block_copywriting__btn,
.price__block_price.violet .block_price__btn{
  color: $main-color;
  background-color: $secondary-color;
}
.serm__block_serm.violet .block_serm__list,
.complex__block_complex.violet .block_complex__list,
.copywriting__block_copywriting.violet .block_copywriting__list,
.price__block_price.violet .block_price__list{
  color: #ffffffa2;
}