.affect {

  &__container {
    @include _1900{
      padding: 0 29.3rem 0 31rem;
    }
  }

  &__wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    @include _768{
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__img {
    max-width: 30rem;
    margin: 0 0 3rem;
    @include _768{
      width: 45%;
      max-width: 63rem;
      margin: 0 2rem 0 0;
    }
  }

  &__content {
    max-width: 56.8rem;
    @include _768{
      width: 50%;
    }
  }

  &__text{
    line-height: 153.333%;
  }

  &__title {
    margin: 0 0 3rem;
    @include _1024{
      margin: 0 0 5rem;
    }
    @include _1280{
      padding: 0 5rem 0 0;
    }
  }
}
