.kevuru {

  &__container{
    @include _968{
      display: flex;
    }
    @include _1440{
      align-items: center;
    }
  }

  &__img {
    max-width: 77.4rem;
    max-height: 33.5rem;
    margin: 0 2rem 3rem 0;
    @include _968{
      width: 65%;
      margin: 0 2rem 0 0;
    }
    @include _1440{
      margin: 0 5rem 0 0;
    }
    img{
      object-fit: cover;
    }
  }

  &__content_kevuru {
    @include _968{
      width: 37%;
      max-width: 47.6rem;
    }
  }
}
.content_kevuru {

  &__title {
    text-align: left;
    margin: 0 0 3rem;
    font-size: 3rem;
    @include _1024{
      font-size: 2.5rem;
    }
    @include _1280{
      font-size: 3rem;
      margin: 0 0 5rem;
    }
  }

  &__text {
    span{
      font-family: $geometria-bold;
    }
  }
}
