.approach {
  &__content {
    margin: 0 0 3rem;
    @include _768{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    @include _1280{
      margin: 0 0 5rem;
    }
  }

  &__title {
    text-align: left;
    margin: 0 3rem 3rem 0;
    @include _768{
      margin: 0 3rem 0 0;
      width: 60%;
    }
    span{
      margin: 0 .5rem 0 0;
    }
  }

  &__text {
    max-width: 52.8rem;
    display: inline-block;
    margin: 0 0 3rem;
    @include _600{
      margin: 0;
    }
    @include _768{
      width: 39%;
    }
  }

  &__list {
    ul{
      margin: 0;
      padding: 0;
      max-width: 57.6rem;
      &:not(:last-child){
        margin: 0 0 3rem;
        @include _768{
          margin: 0 4rem 0 0;
        }
        @include _1280{
          margin: 0 9.5rem 0 0;
        }
      }
      li{
        display: flex;
        &:not(:last-child){
          margin: 0 0 3rem;
        }
        img{
          width: 2rem;
          height: 2rem;
          margin: 0 2rem 0 0;
          @include _1024{
            width: 3.2rem;
            height: 3.2rem;
          }
        }
      }
    }
    @include _768{
      display: flex;
    }
  }

  &__item {
    span{
      display: block;
    }
  }

  &__item_title{
    text-align: left;
    font-size: 2rem;
    margin: 0 0 1rem;
    @include _1280{
      font-size: 2.5rem;
    }
  }
}